body {
  --primaryTheme: #356CB5;
  background-color: var(--bg);
}
body.light {
  --primaryBg: #fff;
  --primaryLink: #31639c;

  --primaryText: #212121;
  --secondaryText: #7b7b7b;
  --mutedText: #6c757d;

  --primaryButtonText: #fff;

  --primaryBorderBg: #efefef;

  --activeSelectionBg: rgba(162, 162, 162, 0.1);

  --primaryShadowBg: rgba(204, 204, 204, 0.7);
  --inlineCode-text: #1a1a1a;
  --panelText: #856404;
  --panelBg: #fff9e0;
  --panelBorder: hsla(0, 0%, 0%, 0.2);
  --fallBackLink: #31639c;
  /* Prism js variables */
  --codeBg: #011627;
  --codeBlue: #82aaff;
  --codeYellow: #ffcc99;
  --codePurple: #9966cc;
  --codeToken: #71eeb8;
  /* Subscription */
  --subscriptionBg: #fff;
  --aliensExists: #0f5620;
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
}

body.dark {
  --primaryTheme: #f76c6c;
  --primaryBg: #1a1a1d;
  --primaryLink: #8bb9dd;
  --primaryText: rgba(255, 255, 255, 0.8);
  --secondaryText: rgba(255, 255, 255, 0.6);
  --primaryButtonText: #fff;
  --primaryBorderBg: #292929;
  --activeSelectionBg: rgba(0, 0, 0, 0.18);
  --primaryShadowBg: rgba(8, 8, 8, 0.7);
  --inlineCode-text: #fff;
  --panelBg: #d1ecf1;
  --panelText: #0c5460;
  --panelBorder: hsla(201, 100%, 50%, 0.78);

  /* Prism js variables */
  --codeBg: #fff9e0;
  --codeBlue: #8bb9dd;
  --codeYellow: #ffefad;
  --codePurple: #cc99ff;
  --codeToken: #addb67;
  /* Subscription */
  --subscriptionBg: #282c34;
  --aliensExists: #abc13a;
  --inlineCode-bg: #373c49;
}
